<header id="servicios">
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid text-center mt-3 mb-3">
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2 active" data-filter="all">Todos</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="alb">Albañil</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="ele">Electricista</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="gas">Gasista</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="pin">Pintor</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="plo">Plomero</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="car">Carpintero</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="cer">Cerrajero</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="tec">Techista</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="her">Herrero</button>
          <button class="list btn btn-light border btn-sm rounded-pill shadow p-2 mb-2 me-2" data-filter="pil">Piletero</button>
        </div>
      </div>
    </div>
</header>