
<div class="center-form">
  <form [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form">
      <h2 class="encabezado-2">Formulario Registro</h2>

      <div class="controls">

        <input 
               type="text"
               formControlName="nombre"
               [class.is-invalid] = "nombreNoValido"
               placeholder="Nombre">

        <small *ngIf="nombreNoValido" class="text-danger">Ingrese su nombre mínimo 4 letras</small>

        <span class="barra"></span>
        <label>Nombre/s</label>
        <div class="no-valido text-danger d-none"></div>
      </div>

      <div class="controls">

        <input 
               type="text"
               formControlName="apellido"
               [class.is-invalid] = "apellidoNoValido"
               placeholder="Apellido">

        <small *ngIf="apellidoNoValido" class="text-danger">Ingrese su apellido mínimo 3 letras</small>
        
        <span
          class="barra"
        ></span>
        <label>Apellido/s</label>
        <div class="no-valido text-danger d-none"></div>
      </div>

      <div class="controls">

        <input 
             type="email"
             formControlName="correo"
             [class.is-invalid] = "correoNoValido"
             placeholder="Correo electrónico">

        <small *ngIf="correoNoValido" class="text-danger">Ingrese un correo electrónico válido</small>
             
        <span class="barra"></span>
        <label>Mail</label>
        <div class="no-valido text-danger d-none"></div>
      </div>

      <div class="controls">
        
        <input 
             formControlName="password1"
             [class.is-invalid] = "password1NoValido"      
             type="password">
        
      <small *ngIf="password1NoValido" class="text-danger">Ingrese un password con mínimo de 6 caracteres</small>
        
        <span
          class="barra"
        ></span>
        
        <label>Contraseña</label>
        <div class="no-valido text-danger d-none"></div>
      </div>

      <div class="controls">

        <input 
             formControlName="password2" 
             [class.is-invalid] = "password2NoValido"  
             type="password">
        
      <small *ngIf="password2NoValido" class="text-danger">Las contraseñas no coinciden</small>     

        <span
          class="barra"
        ></span>
        <label>Confirme su Contraseña</label>
        <div class="no-valido text-danger d-none"></div>
      </div>       


       <p class="parrafo">Leer y aceptar <a href="#" (click)="abrirModalTerminosCondiciones()">Términos y condiciones</a> </p>

     

      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="boton-form">
            Regístrate
          </button>
          <button type="button" class="boton-form" (click)="limpiar()">
            Limpiar
          </button>
        </div>
      </div>

   
        <p class="parrafo"><a href="/login">¿Ya tienes cuenta?</a></p>

    </div>
  </form>
</div>


<hr>
<h3 class="mt-5"> Formulario </h3>
<pre>
  Estaado de formulario:{{forma.valid}}
  <br>
  Status:{{forma.status}}
</pre>

<pre>
  {{forma.value | json}}
</pre>


