
<div class="center-form">
    <form action="">
      <div class="form">
        <h2 class="encabezado-2">Formulario Registro</h2>

        <div class="controls">
          <input type="text" name="nombres" id="nombres" required />
          <span class="barra"></span>
          <label>Nombre/s</label>
          <div class="no-valido text-danger d-none"></div>
        </div>

        <div class="controls">
          <input type="text" name="apellidos" id="apellidos" required /><span
            class="barra"
          ></span>
          <label>Apellido/s</label>
          <div class="no-valido text-danger d-none"></div>
        </div>

        <div class="controls">
          <input type="email" name="correo" id="correo" required />
          <span class="barra"></span>
          <label>Mail</label>
          <div class="no-valido text-danger d-none"></div>
        </div>

        <div class="controls">
          <input type="password" name="pass1" id="pass1" required /><span
            class="barra"
          ></span>
          <label>Contraseña</label>
          <div class="no-valido text-danger d-none"></div>
        </div>

        <div class="controls">
          <input type="password" name="pass2" id="pass2" required /><span
            class="barra"
          ></span>
          <label>Confirme su Contraseña</label>
          <div class="no-valido text-danger d-none"></div>
        </div>

        <p class="parrafo">Estoy de acuerdo con <a href="#">Términos y Condiciones</a></p>

        <button class="boton-form" type="button" onclick="return validarFormulario()">Regístrate</button>

     
          <p class="parrafo"><a href="formularioLogin.html">¿Ya tienes cuenta?</a></p>

      </div>
    </form>
  </div>