<div class="center-form">
    <form action="">
        <div class="form iniciar">
          <h2 class="encabezado-2">Iniciar Sesión</h2>
  
          <div class="controls">
            <input type="text" name="usuario" id="usuario" required />
            <span class="barra"></span>
            <label>Usuario</label>
            <div class="no-valido text-danger d-none">
            </div>
          </div>
  
          <div class="controls">
            <input type="password" name="pass" id="pass" required/>
            <span class="barra"></span>
            <label>Contraseña</label>
            <div class="no-valido text-danger d-none">
            </div>
          </div>
  
          <button class="boton-form" type="button" onclick="return validarFormulario()">Iniciar Sesión</button>
  
          <p class="parrafo"><a href="recuperarPass.html">Olvidé mi contraseña</a></p>
          <p class="parrafo">¿Eres nuevo en este sitio?<a href="formularioRegistro.html">Regístrate</a></p>
         
         </div>
         
         
        
    </form>
</div>