<!-- SCROOLL REVEAL JS LIBRARY CDN -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<div class="container-fluid">
    <!-- SECTION PROFESIONALES -->
    <section id="profesionales">
        <div class="container-fluid">
            <div class="row">
                <!-- Tarjeta del Profesional -->
                <div class="item-box plo col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Plomero <i class="fa-solid fa-wrench"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-1.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">
                                        Daescripcion del servicio // Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.
                                    </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FIN Tarjeta del Profesional -->
                <!-- Tarjeta del Profesional -->
                <div class="item-box ele col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Electricista <i class="fa-solid fa-bolt"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-2.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">
                                        Descripcion del servicio // Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit.
                                    </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

                <!-- Inicio Tarjeta del Profesional -->
                <div class="item-box alb col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Albañil <i class="fa-solid fa-trowel"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row  mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-3.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">Descripcion del servicio // Lorem ipsum dolor sit. Lorem ipsum
                                        dolor sit. </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

                <!-- Inicio Tarjeta del Profesional -->
                <div class="item-box pin col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Pintor <i class="fa-solid fa-brush"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row  mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-4.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">Descripcion del servicio // Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

            </div>
            <!--Close Row -->
            <div class="row">
                <!-- Tarjeta del Profesional -->
                <div class="item-box plo col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Plomero <i class="fa-solid fa-wrench"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-1.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">
                                        Daescripcion del servicio // Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.
                                    </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FIN Tarjeta del Profesional -->
                <!-- Tarjeta del Profesional -->
                <div class="item-box ele col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Electricista <i class="fa-solid fa-bolt"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-2.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">
                                        Descripcion del servicio // Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit.
                                    </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

                <!-- Inicio Tarjeta del Profesional -->
                <div class="item-box alb col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Albañil <i class="fa-solid fa-trowel"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row  mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-3.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">Descripcion del servicio // Lorem ipsum dolor sit. Lorem ipsum
                                        dolor sit. </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

                <!-- Inicio Tarjeta del Profesional -->
                <div class="item-box pin col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Pintor <i class="fa-solid fa-brush"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row  mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-4.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">Descripcion del servicio // Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

            </div>
            <!--Close Row -->
            <div class="row">
                <!-- Tarjeta del Profesional -->
                <div class="item-box plo col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Plomero <i class="fa-solid fa-wrench"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-1.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">
                                        Daescripcion del servicio // Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.
                                    </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FIN Tarjeta del Profesional -->
                <!-- Tarjeta del Profesional -->
                <div class="item-box ele col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Electricista <i class="fa-solid fa-bolt"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-2.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">
                                        Descripcion del servicio // Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit.
                                    </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

                <!-- Inicio Tarjeta del Profesional -->
                <div class="item-box alb col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Albañil <i class="fa-solid fa-trowel"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row  mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-3.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre del Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">Descripcion del servicio // Lorem ipsum dolor sit. Lorem ipsum
                                        dolor sit. </p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

                <!-- Inicio Tarjeta del Profesional -->
                <div class="item-box pin col-12 col-md-6 col-lg-3 text-center mb-5">
                    <div class="card shadow bg-light" style="border-radius: 20px 0px 40px 40px; border:none;">
                        <div class="card-header rounded-pill cabecera-tarjeta">
                            Pintor <i class="fa-solid fa-brush"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"></h1>
                            <div class="row  mt-2">
                                <div class="col-4 col-md-4 ms-2">
                                    <img src="frontend/views/imagenes/profesional-4.jpg" class="rounded-circle mt-2" width="90" height="90" alt="">
                                </div>
                                <div class="col-7 col-md-7 align-self-center text-start">
                                    <h6>Nombre Profesional</h6>
                                    <hr>
                                    <div class="col-7 col-md-7 align-self-center text-center">
                                        <ul class="mb-0 list-unstyled d-flex flex-row h5" style="color: #1d1f1d;">
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fas fa-star fa-xs mx-1"></i></li>
                                            <li><i class="fa-regular fa-star fa-xs mx-1"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-3 m-2">
                                <div class="p-2 bg-white border my-3 mx-2 rounded">
                                    <p class="card-text">Descripcion del servicio // Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="boton-cards align-middle" type="button">Contratar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN Tarjeta del Profesional -->

            </div>
            <!--Close Row -->


        </div>
    </section>
